.body {
    flex-direction: column;
}

.barra-navegacion__elemento {
    text-decoration: none;
    color: black;
    padding: 25px;
}

.container-footer__link {
    text-decoration: none;
    color: black;
    margin-right: 35px;
    color: gray;
}